.reviewCell {
  white-space: normal;
  /* allows wrapping */
  word-wrap: break-word;
  /* ensures long words break */
  overflow-wrap: break-word;
  /* extra safety */
  max-width: 300px;
  /* optional: limit width for wrapping */
}

.table {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
}

.table-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}




/* CSS */
.addtoSite{
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.addtoSite:hover {
  background-color: #f7fafa;
}

.addtoSite:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}
